.LoginEmail {
  text-align: center;
}

.LoginEmail-inputs {
    margin: 15px 0;
}

 .buttom-sing-spotify {
  background-color: #1bb954;
  margin: 5px 0;
  font-size: 13px;
  width: 210px;
  height: 20px;
  border-radius: 0px;
}